################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net8.0
/obj
/.vs/net-inermediate/FileContentIndex
/.vs/net-inermediate/DesignTimeBuild
/appsettings.json
/.vs/net-inermediate/v17/DocumentLayout.json
/.vs/net-inermediate/v17/.suo
